* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #FFF;
}

.main {
  display: grid;
  grid-template-columns: 1fr 350px;
  width: 100%;
  height: 100%;
}

.main .drag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #444;
}

.main .drag h1 {
  font-size: 22px;
  color: #777
}

.main .drag button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 50px;
  width: 150px;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background: #9526df;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main .json-viewer {
  display: flex;
  flex-direction: column;
}

.main .json-viewer h1 {
  font-size: 18px;
  color: #2b2b2b;
  text-align: center;
  border-bottom: 2px solid black;
}
